<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "jump.dragonbret1010.edu.mit"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>[JUMP!]</name>

    <description>
        Ann app made using Scratch, Phonegap, github, and PhoneGap
    </description>

    <author href="http://scratch.mit.edu/users/Dragonbret1010" email="gabrielharding06@outlook.com">
        dragonbret1010
    </author>

</widget>
